* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.background {
    height: 100vh;
    width: 100vw;
    background: url('../images/EasyMode BG.png') no-repeat center center fixed;
    background-size: cover;
}

.shrimp {
    height: 100px;
    width: 130px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    border: 5px solid rgb(10, 76, 28);
    z-index: 10;
}

.message {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
}

.welcome img {
    width: 760px;   
    height: auto;   
    display: block;
    margin: 0 auto;
}

.messagestyle {
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
}

.buttons-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 11;
}

.restartbutton img, .exitbutton img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0;
}

.restartbutton img:hover {
    transform: scale(1.05);
}

.exitbutton img:hover {
    transform: scale(1.05);
}

.score {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    z-index: 20;
    font-size: 4vh;
    font-weight: 100;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    top: 0;
    left: 0;
    margin: 10px;
}

.score_val, .Accumulated_score_val, .High_score_val {
    color: gold;
    font-weight: bold;
    z-index: 20;
}

@media only screen and (max-width: 1080px) {
    .score {
        font-size: 3vh;
    }

    .shrimp {
        width: 120px;
        height: 90px;
    }

    .pipe_sprite {
        width: 14vw;
    }
}
